<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeCrusade</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portofolio/portofolioEstilo.css' %}">
</head>
<body>
    <div class="text">
        <h1>Sobre o meu Website</h1>
        <h3>Bem-vindo à página "Sobre o Seu Website", onde partilho todos os aspetos tecnológicos aplicados neste projeto de programação web!</h3>


        <h4>Tecnologias Utilizadas</h4>
        <ul>
            <li>Django Framework</li>
            <li>HTML, CSS e JavaScript</li>
            <li>Python</li>
        </ul>

        <h4>Vídeo "Django Hands-On"</h4>
        <p>Para facilitar a compreensão do funcionamento do Django, criei um vídeo de 1 minuto explicando o conceito baseado no padrão MVC (Model-View-Controller). Vai aprender como se estrutura um projeto Django, incluindo projeto, aplicação, models, views, urls e templates.</p>

        <h4>Vídeo "Visita Guiada"</h4>
        <p>Além disso, preparei um vídeo de 1 minuto que oferece uma "visita guiada" ao projeto Django e suas várias aplicações e páginas. Vai ter uma visão geral do layout, funcionalidades e recursos disponíveis.</p>

        <h4>Design com Efeito Parallax</h4>
        <p>Apliquei o efeito!</p>
    </div>
</body>
</html>