<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeByMe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portofolio/portofolioEstilo.css' %}">
</head>
<body>

    <div class="text">
        <h1>MeByMe</h1>
        <h3>Bem-vindo à minha página "MeByMe", onde compartilho um pouco sobre o que aprendi durante o meu curso de programação web!</h2>

        <h4>Sobre o Projeto</h4>
        <p>Durante este curso de programação web, mergulhei de cabeça no mundo do desenvolvimento de websites e aplicações web. Aprendi os fundamentos do HTML, CSS e JavaScript, além de explorar frameworks e bibliotecas populares como Bootstrap e jQuery.</p>


        <h4>Experiências e Desafios</h4>
        <p>Ao longo do projeto, enfrentei diversos desafios e oportunidades de aprendizado. Desde a criação de layouts responsivos até a integração de APIs e o desenvolvimento de funcionalidades interativas, cada etapa foi uma oportunidade para aprimorar minhas habilidades e expandir meu conhecimento.</p>

        <h4>Aprendizados Principais</h4>
        <ul>
            <li>HTML e CSS: Aprendi a criar estruturas de página e estilos visuais, garantindo uma experiência de usuário atraente e intuitiva.</li>
            <li>Integração de APIs: Descobri como integrar APIs externas para obter dados em tempo real e enriquecer minhas aplicações com informações atualizadas.</li>
            <li>Boas Práticas de Desenvolvimento: Aprendi a seguir boas práticas de desenvolvimento, como organização de código, comentários claros e versionamento com Git.</li>

        </ul>


        <h4>Próximos Passos</h4>
        <p>Este curso foi apenas o começo da minha jornada no mundo da programação web. Estou ansioso para continuar aprendendo e explorando novas tecnologias, enfrentando novos desafios e construindo projetos ainda mais incríveis no futuro!</p>
    </div>

</body>
</html>