<!DOCTYPE html>
<html lang="la">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lorem Ipsum</title>
    <style>
        head,footer{
            text-align:center;
            max-width: 100%;
            padding: 10px 0;
        }
        body {
            background: white;
            color: black;
            text-align: center;
            margin: 0 auto;
            max-width: 800px;
            padding: 0 20px;
        }
    </style>
</head>

<body>
    <header>
        <h1>Lorem Ipsum</h1>
            <nav>
                <a href="{% url 'novaapp:maislatim' %}">Mais Latim</a>
                <a href="{% url 'novaapp:aindamaislatim' %}">Ainda mais Latim</a>
            </nav>
        <h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h2>
        <h3>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h3>
    </header>
    <p> Vestibulum vitae felis placerat, mollis orci a, mollis dui. In nec rutrum dui, eu tempus orci. Sed cursus, odio at commodo sodales, enim arcu venenatis nulla, dignissim auctor dui sapien et ante. Nam augue tellus, posuere vitae malesuada pulvinar, commodo eu ex. Morbi feugiat placerat metus, nec cursus velit feugiat in. Vestibulum sollicitudin mollis eros, sed consectetur velit condimentum vitae. Aenean arcu urna, vulputate eu euismod et, vulputate nec arcu. Pellentesque vel mauris id nibh tempus bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sit amet erat ultrices, venenatis urna at, efficitur leo. Quisque vestibulum nulla diam, at gravida velit lobortis nec. Morbi vitae orci sem.   </p>
    <p> Mauris in lacus id ex blandit euismod. Phasellus euismod purus ut velit finibus posuere ac et odio. Nulla eget lacus id ligula ultricies viverra eu in magna. Etiam volutpat quis mauris sed aliquet. Donec consectetur ornare nunc in egestas. Maecenas elit urna, semper sed volutpat a, molestie a massa. Sed et euismod arcu. In hac habitasse platea dictumst. Duis in quam elementum velit convallis bibendum in a turpis. Maecenas iaculis enim orci, et blandit mi sollicitudin vitae.   </p>
    <p> Donec ut maximus turpis. Etiam rhoncus, orci non fermentum viverra, mi ex pulvinar est, a sollicitudin lorem ex nec diam. Pellentesque ullamcorper ante eu ex euismod congue. Nam nisl tortor, facilisis quis tincidunt in, ornare nec metus. Donec a magna nulla. Aliquam pretium aliquam mi, vel elementum eros lacinia eget. Nulla eleifend, purus vel tempus vulputate, nisi libero laoreet diam, vestibulum porta lectus purus eget nibh.   </p>
    <p> Integer fringilla sapien magna. Aliquam erat volutpat. Donec aliquam gravida justo vel laoreet. Maecenas semper ornare purus sit amet rhoncus. Pellentesque sit amet velit ut neque iaculis porta eu aliquam est. Phasellus feugiat et quam sed luctus. Nam vel velit arcu. Nullam eleifend porttitor purus, eget egestas ligula congue posuere. Vestibulum sed tellus porta, aliquet quam ac, porta lorem. Cras rutrum massa at gravida condimentum. Cras ultrices, sapien vitae venenatis suscipit, leo velit mollis erat, vitae pretium sapien justo eu elit. Pellentesque accumsan, dolor nec placerat gravida, ex turpis tempus eros, vitae posuere augue arcu eget ipsum. Aliquam porttitor ex bibendum, sollicitudin arcu et, blandit diam. Nullam bibendum gravida ipsum at congue. Nunc ultrices nisl eu quam molestie fringilla. Nulla orci lectus, luctus eget quam nec, vulputate condimentum leo.   </p>

    <footer>
        <p>&copy; SuperLatim@gmail.com
        Privacy Policy · </p>
    </footer>
</body>