<!DOCTYPE html>
<html lang="la">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lorem Ipsum</title>
    <style>
        head,footer{
            text-align:center;
            max-width: 100%;
            padding: 10px 0;
        }
        body {
            background: white;
            color: black;
            text-align: center;
            margin: 0 auto;
            max-width: 800px;
            padding: 0 20px;
        }
    </style>
</head>

<body>
    <header>
        <h1>Lorem Ipsum</h1>
            <nav>
                <a href="{% url 'novaapp:maislatim' %}">Mais Latim</a>
                <a href="{% url 'novaapp:aindamaislatim' %}">Ainda mais Latim</a>
            </nav>
        <h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h2>
        <h3>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h3>
    </header>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius condimentum libero vitae fermentum. Sed vitae tellus ultrices, facilisis turpis a, semper nisl. Maecenas dolor lacus, vestibulum non erat in, condimentum semper nibh. Mauris scelerisque sagittis justo a tempus. Nam dapibus, massa rhoncus sollicitudin elementum, metus ex iaculis nulla, et gravida mauris ligula id velit. Nam lobortis metus urna, a pulvinar turpis egestas sed. Nunc eget rutrum dui, sed aliquam lacus. In volutpat maximus convallis. Nulla facilisi. </p>
    <p> Suspendisse sed augue id ex luctus vehicula nec ut libero. Nam et nulla vitae mauris porttitor molestie. Nam lobortis leo vitae orci elementum, quis porttitor dolor lobortis. Sed nec quam non ex faucibus convallis. Pellentesque quis blandit eros. Vivamus id imperdiet odio. Vestibulum euismod erat at purus elementum, ut maximus nibh tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque eu urna vitae finibus. Donec vel elit et orci vulputate vehicula a nec justo. Nulla blandit lacus dolor, vitae iaculis nunc pulvinar non. Quisque nec malesuada risus. </p>
    <p> Fusce ligula velit, sagittis non auctor nec, ultrices at magna. Integer vel varius enim. Etiam augue arcu, sodales vel nisi vitae, blandit scelerisque purus. Phasellus tincidunt nulla semper blandit commodo. Nulla facilisi. Pellentesque laoreet eleifend sagittis. Cras sit amet aliquam tortor. Maecenas id mauris at ipsum lacinia lacinia nec sit amet nisl. Morbi imperdiet ante ac congue condimentum. Pellentesque ornare velit eu facilisis consectetur. Praesent at ultrices justo, non aliquam sapien. Sed ullamcorper hendrerit erat at tempus. </p>
    <p> Maecenas nunc risus, hendrerit id dignissim porta, venenatis mollis erat. Duis euismod egestas nibh, sed lacinia sapien tincidunt ut. Duis commodo venenatis tellus. Sed auctor purus et feugiat ullamcorper. Curabitur condimentum euismod feugiat. Quisque tempor efficitur malesuada. Fusce sodales sagittis tortor, sed tincidunt leo bibendum quis. Sed elementum venenatis turpis, eu ultrices mauris venenatis non. Praesent malesuada vulputate lacus sed gravida. Nunc tincidunt maximus nibh. </p>
    <p> Ut gravida leo a sapien tincidunt aliquam. Mauris facilisis lobortis diam quis sodales. Sed libero sem, accumsan quis diam eget, volutpat pretium enim. Maecenas vulputate tellus leo, sed fermentum mauris aliquam vel. Maecenas rutrum scelerisque arcu, imperdiet gravida ante dignissim a. Proin nulla metus, volutpat et egestas non, placerat eu ipsum. Quisque ac pulvinar sem. Etiam eu congue sem, eget maximus sapien. Aenean nec egestas quam, vitae ullamcorper dolor. Nullam id turpis pharetra, vestibulum massa vitae, pretium ligula. Pellentesque cursus auctor orci, sit amet pretium felis egestas eu. Donec nisl dui, commodo a tincidunt eget, bibendum vel quam. </p>

    <footer>
        <p>&copy; SuperLatim@gmail.com
        Privacy Policy · </p>
    </footer>
</body>