<!DOCTYPE html>
<html lang="la">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lorem Ipsum</title>
    <style>
        head,footer{
            text-align:center;
            max-width: 100%;
            padding: 10px 0;
        }
        body {
            background: white;
            color: black;
            text-align: center;
            margin: 0 auto;
            max-width: 800px;
            padding: 0 20px;
        }
    </style>
</head>

<body>
    <header>
        <h1>Lorem Ipsum</h1>
            <nav>
                <a href="{% url 'novaapp:latim' %}">Latim</a>
                <a href="{% url 'novaapp:aindamaislatim' %}">Ainda mais Latim</a>
            </nav>
        <h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h2>
        <h3>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h3>
    </header>
    <p> Nam in lorem ut sapien tincidunt varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec placerat risus eros, a malesuada erat sagittis et. Vestibulum dignissim, lorem vel tempor laoreet, dui ligula euismod quam, eget egestas turpis magna non quam. Fusce vehicula molestie maximus. Curabitur luctus vestibulum ipsum, at sollicitudin est suscipit a. Pellentesque mi dui, cursus at aliquam sed, pulvinar quis massa.  </p>
    <p> Donec laoreet venenatis porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, lacus non ornare scelerisque, arcu ex porttitor purus, id auctor mauris est sed metus. Vestibulum justo purus, venenatis quis eros non, egestas dictum purus. Suspendisse sit amet ipsum mollis, fringilla odio et, pharetra augue. Nunc condimentum fermentum purus in tempus. In in lacus erat. Duis mi enim, feugiat ac erat et, sodales hendrerit mauris. Sed vel libero eros. Pellentesque aliquet quis quam sit amet laoreet. Nulla sit amet nunc at sapien egestas finibus ut ac metus. Aliquam dignissim tincidunt ex vel ultrices. Duis mi turpis, sagittis vel elit nec, tincidunt vehicula odio. Phasellus congue ac dui in consectetur.  </p>
    <p> Proin vehicula vestibulum magna. Nulla facilisi. Sed finibus risus at placerat varius. Vivamus a felis quis mi convallis auctor. Phasellus efficitur lectus id facilisis posuere. Aliquam erat volutpat. Quisque pharetra risus sem, eget maximus lorem viverra vel. Maecenas vehicula lacus enim, vel tincidunt neque sodales eget. Donec in nisi feugiat, rhoncus neque nec, ullamcorper sem.  </p>
    <p> Proin in ultrices lacus, at auctor turpis. Curabitur ultricies tortor elementum vulputate porta. In eget nunc sit amet ante fermentum dapibus. Ut gravida vitae arcu non tincidunt. Sed sed suscipit erat, quis mollis ex. Aliquam suscipit sem ut dui vulputate ullamcorper. Mauris scelerisque fermentum magna, at tincidunt libero dapibus finibus. Aliquam ut mauris libero. Nam id dapibus ligula. Donec sed hendrerit velit. Aliquam eleifend lacus at tempor viverra. Maecenas ut condimentum est. Vivamus pellentesque leo id mauris iaculis facilisis.  </p>

    <footer>
        <p>&copy; SuperLatim@gmail.com
        Privacy Policy · </p>
    </footer>
</body>